@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@font-face {
    /* font-family: "RoughfontBold";
    src: url("./fonts/Roughfont-Bold.otf"); */

    font-family: "ThinJotRegular";
    src: url("./fonts/ThinJot-Regular.otf");

}
  
body{

    background-color:  #96f293;
    text-align: center;

    color: aliceblue;

    /* font-family:  "sans-serif"; */
    /* font-family: "Silkscreen";  */
    /* font-family: "RoughfontBold";  */
    /* font-family: "ChonkfontBold";  */
    font-family: "ThinJotRegular"; 

    font-style: oblique;
    

}

div{
    background-color: #97fd94;
    margin: 5% 1%;
    padding: 5%; 

}


@font-face {
    font-family: "ChonkfontBold";
    src: url("./fonts/Chonkfont-Bold.otf");
}

h1{
        
    font-family: "ChonkfontBold";
    src: url("./fonts/Chonkfont-Bold.otf");
    
     
    font-size: xxx-large;
    
}

p{
    font-size: xxx-large;
}

button{
    background-color: #000000;
    border: none;
    padding: 1%;
    margin: 2% 1%;
    color: aliceblue;
    
    font-family: "ChonkfontBold";
    font-size: large;
}

button:hover {
    background-color: #4eac4b;
    color: rgb(255, 255, 255);
    font-style: oblique;
}


ul {
    list-style: none;
    font-size: large;
    font-style: normal;

}


#idea {
    margin: 20px 100px;
}


@media (min-width: 100px) {
    h1{
        
        font-family: "ChonkfontBold";
        src: url("./fonts/Chonkfont-Bold.otf");
         
        font-size: x-large;
    }
    
    p{
        font-size: medium;
    }
    
    div{
        margin: 0%;
        padding: 0%; 
    
    }
    
    #idea {
        margin: 5% 2%;

    }
}


@media (min-width: 300px) {
    h1{
        
        font-family: "ChonkfontBold";
        src: url("./fonts/Chonkfont-Bold.otf");
         
        font-size: xx-large;
    }
    
    p{
        font-size: large;
    }
    
    div{
        margin: 0%;
        padding: 0%; 
    
    }
    
    #idea {
        margin: 5% 2%;

    }
}



@media (min-width: 600px) {
    h1{
        
        font-family: "ChonkfontBold";
        src: url("./fonts/Chonkfont-Bold.otf");
        
         
        font-size: xxx-large;
        
    }
    
    p{
        font-size: xx-large;
    }
    
    div{
        padding: 5% 0%;
        margin: 0;
    }
    
    ul {
        font-size: x-large;
        
        
    }
}