@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@font-face {
    /* font-family: "RoughfontBold";
    src: url("./fonts/Roughfont-Bold.otf"); */

    font-family: "ThinJotRegular";
    src: url("./fonts/ThinJot-Regular.otf");

}
  
body{

    background-color:  #96f293;
    text-align: center;

    color: aliceblue;

    /* font-family:  "sans-serif"; */
    /* font-family: "Silkscreen";  */
    /* font-family: "RoughfontBold";  */
    /* font-family: "ChonkfontBold";  */
    font-family: "ThinJotRegular"; 

    font-style: oblique;
    

}

div{
    background-color: #97fd94;
    margin: 5% 1%;
    padding: 5%; 

}


@font-face {
    font-family: "ChonkfontBold";
    src: url("./fonts/Chonkfont-Bold.otf");
}

h1{
        
    font-family: "ChonkfontBold";
    src: url("./fonts/Chonkfont-Bold.otf");
    
     
    font-size: xxx-large;
    
}

p{
    font-size: xxx-large;
}

button{
  
    font-size: 100%;
    background-color: #000000;
    border: none;
    padding: 1%;
    /* text-align: center; */
    color: aliceblue;
    
    font-family: "Silkscreen", sans-serif;
}

button:hover {
    background-color: #4eac4b;
    color: rgb(255, 255, 255);
    font-family: "Silkscreen", sans-serif;
    font-style: oblique;
}


ul {
    list-style: none;
    font-size: xx-large;
}


#idea {
    margin: 20px 100px;
}